/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 3 version
*/

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  padding-left: 10px;
  padding-right: 10px;
}

.page-body {
  min-height: 100%;
  padding-bottom: 50px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 11px;
  color: hsl(238, 29%, 16%);

  background: -webkit-gradient(linear, left top, left bottom, from(hsl(273, 75%, 66%)), to(hsl(240, 73%, 65%)));

  background: -o-linear-gradient(top, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
}

.faq-card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 520px;
  margin: 0 auto;
  margin-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 140px;
  padding-bottom: 20px;
  border-radius: 25px;
  background-color: #fff;
  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (min-width: 376px) {
  .faq-card {
    min-width: 370px;
    max-width: 500px;
    padding-right: 20px;
    min-height: 590px;
  }
}

@media (min-width: 1050px) {
  .faq-card {
    min-width: auto;
    max-width: 900px;
    min-height: 480px;
    padding-top: 60px;
    padding-right: 90px;
    padding-left: 500px;
    padding-top: 40px;
    
    background-image: url('../images/illustration-woman-online-desktop.svg') ,
     url('../images/bg-pattern-desktop.svg');
     background-color: #fff;
     background-position: -80px 65px, -580px -300px;
  }
}

.faq-card::before {
  position: absolute;
  top: -110px;
  left: center;
  left: 0;
  right: 35px;
  margin: auto;
  content: '';
  width: 266px;
  height: 196px;
  background-image: url('../images/illustration-woman-online-mobile.svg');
}

@media (min-width: 1050px) {
  .faq-card::before {
    top: 205px;
    left: -95px;
    margin: 0;
    width: 191px;
    height: 184px;
    background-image: url('../images/illustration-box-desktop.svg');
  }
}

.faq-card__title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 1050px) {
  .faq-card__title {
    text-align: left;
  }
}

.faq-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 376px) {
  .faq-card__list {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq-card__item {
  position: relative;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq-card__answer > .faq-card__question:hover {
  color: hsl(14, 88%, 65%);
}

.faq-card__question::-webkit-details-marker {
  display: none;
}

.faq-card__question {
  position: relative;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  color: hsl(240, 6%, 50%);
  list-style: none;
  outline: none;
  color: hsl(237, 12%, 33%)
}

@media (min-width: 376px) {
  .faq-card__question {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.faq-card__question::after {
  content: '';
  position: absolute;
  top: center;
  right: 0;
  width: 10px;
  height: 7px;
  background-image: url('../images/icon-arrow-down.svg');
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.faq-card__answer[open] > .faq-card__question::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.faq-card__answer {
  margin: 0;
  font-size: 12px;
  color: hsl(240, 6%, 50%);
  opacity: 0.8;
  cursor: pointer;
}

.faq-card__answer[open] {
  padding-bottom: 15px;
}

.faq-card__answer[open] > .faq-card__question {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}